<div class="container all">
  <div class="col-md-8">
    <div class="row">
      <h3>Editar Tarifas de Boleto</h3>
    </div>    
    <div class="row">
      <%= render 'form' %>

      <%= link_to 'Show', @fare %> |
      <%= link_to 'Back', fares_path %>
    </div>   
  </div>    
</div>