<div class="container all">
  <div class="col-md-8">
    <div class="row">
      <h3>Nuevo Tarifa de Boleto</h3>
    </div>    
    <div class="row">
      <%= render 'form' %>
      
      <%= link_to 'Back', fares_path %>
    </div>   
  </div>    
</div>