<div class="container all">
  <div class="col-md-8">
    <div class="row">
      <h3>Editar Departamentos</h3>
    </div>    
    <div class="row">
      <%= render 'form' %>
    
      <%= link_to 'Show', @department %> |
      <%= link_to 'Back', departments_path %>
    </div>   
  </div>    
</div>