<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <img src="./assets/PinedaTransportes.png" width="950"/>
        <div class="col-md-8 col-md-offset-2">
          <p class="intro-text">Donde su Seguridad y Comodidad es Primero</p>
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Nuestra Empresa</h2>
            <p>En 2010 se funda Pineda Transportes, brindando sus servicios de transporte terrestre de pasajeros y mensajería entre las Ciudades de Tegucigalpa y San Pedro Sula.</p>
            <p>Para 2012 extiende su operación a la ciudad de La Ceiba. Gracias a la preferencia de nuestros clientes hoy por hoy Pineda Transportes se ha convertido en una de las principales empresas de transporte terrestre a nivel nacional. Innovando conceptos en el servicio que permitan garantizar a nuestros clientes seguridad, puntualidad y calidad.</p>
            <p>En el 2014 Pineda Transportes fue galardonada como número uno en su categoría con el premio Topbrands, la autoridad independiente que promueve la disciplina del branding y que reconoce a las más excepcionales marcas. </p>
        </div>
    </div>
</section>

<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contacto Pineda Transportes</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p>joelpineda94@gmail.com</p>
            <ul class="list-inline banner-social-buttons">
                <li><a href="https://twitter.com/jpineda94" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li><a href="https://github.com/Dark1024" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
              <li><a href="https://plus.google.com/+JoelAlexanderPineda/post" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>